*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0b1220;
  color:white;
  font-family:Arial,sans-serif;
}

.topbar{
  padding:20px;
  border-bottom:1px solid #1e293b;
}

.topbar h1{
  font-size:28px;
}

.version{
  color:#94a3b8;
}

.container{
  padding:15px;
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-bottom:90px;
}

.card{
  background:#111827;
  border-radius:16px;
  padding:18px;
}

.card h2{
  font-size:16px;
  margin-bottom:10px;
  color:#94a3b8;
}

.status{
  font-size:20px;
  font-weight:bold;
}

.mode{
  font-size:24px;
  font-weight:bold;
}

.big-number{
  font-size:42px;
  font-weight:bold;
}

.market-status{
  color:#fbbf24;
}

.bottom-nav{
  position:fixed;
  bottom:0;
  left:0;
  right:0;

  background:#111827;

  border-top:1px solid #1f2937;

  display:flex;

  justify-content:space-around;

  padding:12px;
}

.bottom-nav button{
  background:none;
  border:none;
  color:white;
  font-size:13px;
}
